<template>
  <div
    class="w-screen h-screen home_bg relative overflow-hidden"
  >
  <video autoplay muted loop class="fixed min-w-full min-h-screen right-0 top-0 object-cover">
      <source src="@/assets/footage.mp4" type="video/mp4">
  </video>
    <div
      class="z-10 absolute right-2/4 bottom-2/4 transform translate-x-1/2 translate-y-1/2 text-white"
    >
      <h1 class="text-5xl mb-3">一起探索孤獨食者地圖吧！</h1>
      <div class="text-center">
        <button class="bg-red-600 px-3 py-2 rounded font-black">GOGOGO</button>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.home_bg {
  background-image: url("@/assets/img/banner.jpeg");
  &:after {
    background: rgba($color: #000000, $alpha: 0.5);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 0;
  }
}
</style>
